body {
    background-color: #030000;
    margin: 0;
    color: #FFFBF5;
    font-family: 'Clear Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
}

input {
    font-family: 'Clear Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.right {
	position: absolute;
	top: 0px;
	left: 1050px;
}

.modal {
    position: absolute;
    left: 50%;
    top: 169px;
	margin-left: -250px;
	margin-top: -50px;
    height: 200px;
    width: 500px;
}

.message-box {
	width: 100%;
	height: 100%;
	display: block;
    background-color: #3E3F41;
	color: F7F7F7;
	border: 6px solid #A19B88;
	border-radius: 6px;
	display: block;
}

.message-box h1 {
	padding-top: 15px;
	text-align: center;
}

.input-box {
	background-color: #F7F7F7;
	border-radius: 6px;
	border: 6px solid #A19B88;
	display: block;
	width: 250px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

#name-prompt {
	line-height: 38px;
}

#name-prompt label {
	color: #2C2918;
	font-weight: bold;
	padding-left: 8px;
}

#name-prompt input {
	background-color: transparent;
	border: none;
	padding-left: 8px;
}

#name-prompt input:focus {
	outline: 0;
}

#content canvas {
    border: 5px solid #999;
}

#scores{
	width: 200px;
	padding-bottom: 30px;
}

#feed{
    width: 200px;
}

#messageSpan {
	color: red;
	padding: 5px;
	padding-top: 5px;
	width: 500px;
}

#photoSpan {
	color: red;
	padding: 5px;
	padding-top: 5px;
}

.p0 {
    color: #f00;
}
.p1 {
    color: #ff0;
}
.p2 {
    color: #0f0;
}
.p3 {
    color: #b0f;
}
.p4 {
    color: #f80;
}
.p5 {
    color: #0ff;
}

img {
    padding: 5px;
}

.fight {
	font-size: 300px;
	color: red;
    position: absolute;
	left: 90px;
	top: 50px;
	opacity: 0;
	z-index: 5;
}
