body {
    background-color: #030000;
    color: #FFFBF5;
    font-family: 'Clear Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
    text-align: center;
    margin: 0;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
	margin-left: -250px;
	margin-top: -50px;
    height: 100px;
    width: 500px;
}

#name-prompt {
    background-color: #3E3F41;
	color: F7F7F7;
	border: 6px solid #A19B88;
	border-radius: 6px;
	display: block;
	width: 100%;
	height: 100%;
}

#content canvas {
    border: 5px solid #999;
}

#scores{
	width: 200px;
	padding-bottom: 30px;
}

#feed{
    width: 200px;
}

#messageSpan {
	color: red;
	padding: 5px;
	padding-top: 5px;
	width: 500px;
}

#photoSpan {
	color: red;
	padding: 5px;
	padding-top: 5px;
}

.p0 {
    color: #f00;
}
.p1 {
    color: #ff0;
}
.p2 {
    color: #0f0;
}
.p3 {
    color: #b0f;
}
.p4 {
    color: #f80;
}
.p5 {
    color: #0ff;
}

img {
    padding: 5px;
}
